{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    #sub{
        float: right
    }
#bt{
    float:left
}
#em{
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 100px;
  width: 40%;
  width: 500px;
  border: 5px solid #73AD21;
  padding: 10px;
}
</style>
<div class="container">
    <div class="col-4" id="em">
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}
        
            <!-- Using the formset -->
            {{ form|crispy }}

            <br>
            <input type="submit" class="btn btn-primary" id="sub" value="Submit">
            <a class="btn btn-primary" id ='bt' href="{% url 'info:emp_list' %}">back</a>
        </form>
        <br>
        <br>
    </div>
</div>


{% endblock %}
